:root {
    font-size: 16px;
    --chart-width: 50vw;
}

#title-div {
    display: block;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
}

#voting-div {
	display: inline-block;
	width: calc(calc(100vw - var(--chart-width)) - 48px);
	vertical-align: top;
    border: 1px dotted #00000044;
}

#rank-chart {
	display: inline-block;
	vertical-align: top;
	width: calc(var(--chart-width) - 24px);
    border: 1px dotted #00000044;
}

#vote-tips {
    display: block;
    height: 5rem;
    overflow: hidden;
    margin: 1rem 2rem;
    border: 2px solid black;
    padding: 2px;
}

#vote-tips>span {
    display: inline-block;
    line-height: 1.6rem;
    font-size: 1.5rem;
    padding-right: 0.5rem;
    margin-right: 0.5rem;
    border-right: 1px solid black;
}

#changing-ways {
    width: 100%;
    margin-top: 60px;
}

#changing-ways>.button-d {
    font-size: 2rem;
    margin: 0;
}

#changing-frame {
    width: 100%;
    box-sizing: border-box;
    border: 3px solid gray;
}