#settings-div input, #settings-div textarea, #settings-div button {
	font-size: 1em;
}

#settings-div>p:nth-of-type(1) {
	text-align: center;
	font-size: 2rem;
	font-weight: bold;
}

#settings-div>p:nth-of-type(3)>textarea {
	vertical-align: top;
	width: calc(100% - 10rem);
	resize: vertical;
	min-height: 5em;
}

#resize-width {
	width: 20rem;
}

#electors-edit-list>div>span:nth-of-type(1) {
	display: inline-block;
	min-width: 2em;
}

#electors-edit-list>div>span:nth-of-type(2) {
	display: inline-block;
	min-width: 3em;
}

#electors-edit-list>div>span:nth-of-type(3) {
	display: inline-block;
	min-width: 5em;
}

#electors-edit-list>div>span:nth-of-type(4) {
	display: inline-block;
	min-width: 3em;
}

#electors-edit-list>div>button {
	display: inline-block;
    height: 2.4em;
    vertical-align: top;
}